@keyframes heartbeat {
    from { // вместо from можно написать 0%
        transform: scale(1); // масштаб 100%
    }
    50% {
        transform: scale(1.4); // сердце увеличивается на 40%
    }
    to { // вместо to можно написать 100%
        transform: scale(1); // сердце возвращается в исходный размер 100%
    }
}